<!-- tables -->
<link rel="stylesheet" type="text/css" href="/stylesheets/table-style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/basictable.css" />
<script type="text/javascript" src="/javascripts/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<!-- //tables -->

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a><i class="fa fa-angle-right"></i>Manufacturer Management</li>
</ol>

<!-- tables -->
<div class="agile-tables">
  <div class="w3l-table-info">
    <div class="row">
      <div id="h4" class="col-md-10">Manufacturer Management</div>
      <a href="manufacturer-add" class="col-md-4 add-manufacturer">Add Manufacturer</a>
    </div>
    <table id="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>    
      {{#each all_manufacturer}}
        <tr>
          <td>{{this.Name}}</td>
          <td>{{this.Address}}</td>
          <td>{{this.Email}}</td>
          <td>{{this.Phonenumber}}</td>
          <td>
            <div class="float-right">
              <a href="/manufacturer/manufacturer-detail={{this._id}}"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
              <form action="/manufacturer/manufacturer-delete={{this._id}}" method="POST">
                <button type="submit" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </form>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
<!-- //tables -->